doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    -if (user) {
    ul#menu
      li
        a(href="/") Home Page
      li 
        a(href="/admin") Administrador
      li
        a(href="/panel/employees") Panel
      li Welcome
        b  #{user.email}
      li
        a(href="/logout") Sign-Off
    - } else {
    ul#menu
      li
        a(href="/") Home Page
      li
        a(href="/admin") Administrador  
    - }
    style.
      ul#menu {
        display:block;
        list-style: none;
        position: fixed;
        top: 0;
        background: azure;
        margin: 0;
        left: 0;
        width: 100%;
        padding: 10px 20px;
      }
      ul#menu li {
        float: left;
        padding: 0 10px;
      }
      a {
        color: #5c0099;
        text-decoration: none;
        font-weight: bold; 
      }
    block content
